.personality {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 4rem;
}