.Background {
  position: fixed;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.Background .shape {
  position: absolute;
  display: block;
  transform: rotate(45deg);
}

.Background .shape.cyan {
  background-color: #00ffbb;
}

.Background .shape.magenta {
  background-color: #ff00cc;
}

.Background .shape.yellow {
  background-color: #ffff00;
}

.Background .shape.key {
  background-color: #112233;
}

.Background .shape.key-25 {
  background-color: rgba(17, 34, 51, 0.25);
}

.Background .shape.stripes {
  background: linear-gradient(to bottom,
    rgba(17, 34, 51, 0.25),
    rgba(17, 34, 51, 0.25) 50%,
    rgba(17, 34, 51, 0) 50%,
    rgba(17, 34, 51, 0));
  background-size: 100% 10%;
}

.Background .shape-1 {
  width: 50%;
  padding-top: 50%;
  top: -2%;
  left: -12%;
}

.Background .shape-2 {
  width: 20%;
  padding-top: 20%;
  top: 30%;
  left: 10%;
}

.Background .shape-3 {
  width: 80%;
  padding-top: 80%;
  top: 5%;
  right: -40%;
}

.Background .shape-4 {
  width: 8%;
  padding-top: 8%;
  top: 90%;
  left: 30%;
}

.Background .shape-5 {
  width: 4%;
  padding-top: 4%;
  bottom: 4%;
  right: 90%;
}

.Background .shape-6 {
  width: 20%;
  padding-top: 20%;
  top: 20%;
  right: 54%;
}

.Background .shape-7 {
  width: 6%;
  padding-top: 6%;
  top: 24%;
  right: 8%;
}

.Background .shape-8 {
  width: 2%;
  padding-top: 2%;
  top: 4%;
  right: 38%;
}

.Background .shape-9 {
  width: 10%;
  padding-top: 10%;
  bottom: 30%;
  right: 80%;
}

.Background .shape-10 {
  width: 8%;
  padding-top: 8%;
  top: 40%;
  right: 4%;
}

.Background .shape-11 {
  width: 8%;
  padding-top: 8%;
  top: 40%;
  right: 4%;
}

.Background .shape-12 {
  width: 14%;
  padding-top: 14%;
  bottom: 40%;
  right: 4%;
  transform: rotate(-45deg);
}