.Background {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.Background .shape-1 {
  position: absolute;
  width: 20em;
  height: 20em;
  background-color: #ff00cc;
  top: -3em;
  left: -8em;
  z-index: -1;
  display: block;
  transform: rotate(45deg);
}

.Background .shape-2 {
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: #ffff00;
  top: 16em;
  left: 20em;
  z-index: -2;
  display: block;
  transform: rotate(45deg);
}

.Background .shape-3 {
  position: absolute;
  width: 40em;
  height: 40em;
  background-color: #00ccff;
  top: 4em;
  right: -30em;
  z-index: -3;
  display: block;
  transform: rotate(45deg);
}
.Background .shape-4 {
  position: absolute;
  width: 5em;
  height: 5em;
  background-color: rgba(17, 34, 51, 0.25);
  top: 32em;
  left: 10em;
  z-index: -4;
  display: block;
  transform: rotate(45deg);
}
.Background .shape-5 {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #112233;
  bottom: 4em;
  right: 20em;
  z-index: -5;
  display: block;
  transform: rotate(45deg);
}

.Background .shape-6 {
  position: absolute;
  width: 12em;
  height: 12em;
  background: linear-gradient(
    to bottom,
    rgba(17, 34, 51, 0.25),
    rgba(17, 34, 51, 0.25) 50%,
    rgba(17, 34, 51, 0) 50%,
    rgba(17, 34, 51, 0)
  );
  /* The rectangle in which to repeat. 
   It can be fully wide in this case */
  background-size: 100% 20px;
  top: 8em;
  left: 2em;
  z-index: -6;
  display: block;
  transform: rotate(45deg);
}
