/* @import url("./../layouts/overrides.css"); */
.bookshelf {
  position: relative;
}
.bookshelf h2 {
  font-size: 0.9em;
  font-weight: 500;
}

.books {
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  display: grid;
  grid-gap: calc(1em + 2vw);
  font-size: 0.875em;
  margin-bottom: calc(1em + 2vw);
  line-height: 1.2;
}

.book {
  font-size: 0.875em;
  line-height: 1.2;
}

.book h3 {
  margin: 0;
  margin-top: 0.5em;
  font-weight: 700;
  font-size: 0.9em;
}

.book a,
.book a:visited {
  text-decoration: none;
}

.book img {
  height: 270px;
  object-fit: contain;
  margin-bottom: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.125s ease-in-out;
}

.book img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.book > * + * {
  margin: 0;
  margin-top: 0.5em;
}

.book .stars {
  position: relative;
}
.book .stars .review {
  position: absolute;
  border: 1px solid #cecece;
  display: none;
  background: #fefefe;
  margin: -1em;
  padding: 1em;
  bottom: 2.5em;
}

.book .stars:hover .review {
  display: block;
}
