.home {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.home h1 {
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 0.25em;
}

.home p {
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 0.25em;
  opacity: 0.75;
}

.home .social {
  margin-top: 0.5em;
  font-size: 2em;
  display: flex;
}

.home .social a {
  margin-right: 1em;
}
