:root {
  --pad: calc(2vw + 0.5em);
}

html,
body {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 1.2;
}

html {
  min-height: 100%;
  color: #112233;
}

a,
a:visited {
  text-decoration: none;
  color: #112233;
  transition: all 100ms ease-in-out;
}
a:hover {
  color: #6688aa;
}

.fa-xs {
  width: 1em;
  height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
}

.main {
  margin: 0 auto;
  max-width: 100%;
  padding: 0px 1.0875rem 1.45rem;
  padding: 1em var(--pad);
}
