:root {
  --pad: calc(2vw + 0.5em);
}

html,
body {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 1.2;
}

html {
  min-height: 100%;
  color: #112233;
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
  color: #112233;
  transition: all 100ms ease-in-out;
}
a:hover {
  color: #6688aa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
}
