:root {
  --pad: calc(2vw + 0.5em);
}

html,
body {
  font-family: sans-serif;
}

html {
  min-height: 100%;
  background-attachment: scroll;
  background-image: url("./../images/footer.png");
  background-position: bottom;
  background-repeat: repeat-x;
}
